@import "tailwindcss";

:root {
  /* base color */
  --white: #ffffff;
  --light-grey:#D4D4D4;
  --medium-grey: #b3b3b3;
  --black: #2B2B2B;

  /* sementic color */

  --background: var(--white);
  --surface: #fafafa;
  --text-primary: var(--black);
  --text-secondary: var(--medium-grey);

}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;  
}
